{{- if .Values.config.storage.azureFile.enabled }}
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ .Values.config.storage.azureFile.resourceName }}
provisioner: kubernetes.io/{{ .Values.config.storage.azureFile.provisioner }}
parameters:
  skuName: {{ .Values.config.storage.azureFile.skuName }}
  storageAccount: {{ .Values.config.storage.azureFile.account }}
  location: {{ .Values.config.storage.azureFile.location }}
{{- end }}